In [26]:
import warnings

warnings.filterwarnings('ignore')

In [34]:
#!pip install openpyxl
#!pip install mysql-connector-python

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ------------------------------------ 250.0/250.0 kB 374.0 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

# IMPORT

### Problem-1:

You are given a SQL file link: https://drive.google.com/file/d/1WFt7B84LTHhMueoKmz8W-PRo7xXqmZf3/view?usp=share_link. Read the data by using the file and store it in a excel file. In this data, there are 3 tables named "invoices", "order_leads" and "sales_sql". So create 3 sheets to your excel file.

In [18]:
import mysql.connector

In [19]:
myconn = mysql.connector.connect(host='localhost',database='cx_task',user='root', password='my_pass')

c=myconn.cursor()

c.execute("show databases")

for i in c:
    print(i)

('bankmanagementsystem',)
('campusx',)
('cx_task',)
('fassos',)
('flight_app',)
('indigo',)
('information_schema',)
('mysql',)
('performance_schema',)
('sql_cx_live',)
('sys',)
('zomato',)

In [20]:
c.execute("show tables")

for i in c:
    print(i)

('invoices',)
('order_leads',)
('sales_sql',)

In [29]:
import pandas as pd

invoices = pd.read_sql_query('Select * from invoices',myconn)
order_leads = pd.read_sql_query('Select * from order_leads',myconn)
sales_sql = pd.read_sql_query('Select * from sales_sql',myconn)

In [31]:
sales_sql.sample()

      index    Sales Rep      Sales Rep Id Company Name        Company Id
4232   4232  James Moore  534ESAMPETPUGAXC  Sacral Prop  TY5WOIELN51W6X48

store it in excel file

In [38]:
with pd.ExcelWriter('supermarket.xlsx') as writer:
    invoices.to_excel(writer,sheet_name='invoices',index=False)
    order_leads.to_excel(writer,sheet_name='order_leads',index=False)
    sales_sql.to_excel(writer,sheet_name='sales_sql',index=False)